In [1]:
import pandas as pd
import datetime
#import matplotlib.pyplot as plt
import numpy as np
#import math
#import plotly.express as px

In [2]:
def load_data_sets(data_path):
    
    # load data recordings from csv
    data_raw = pd.read_csv(data_path,sep=";", header=0)
    return data_raw

In [3]:
data_raw = load_data_sets('preprocessed_data_a_05.csv')

In [4]:
def cut_anchor(data):
    nose_start_1 = False
    nose_end_1= False
    nose_start_2 = False
    nose_end_2= False
    nose_start_3 = False
    nose_end_3= False

    index = 0
    cut_index = 0
    while index <= len(data):
        label = data.iloc[index, -1]

        if nose_start_1 == False:
            if label == 1:
                nose_start_1 = True
        elif nose_start_1 == True and nose_end_1 == False:
            if label == 0:
                nose_end_1 = True
        elif nose_start_1 == True and nose_end_1 == True and nose_start_2 == False:
            if label == 1:
                nose_start_2 = True
        elif nose_start_1 == True and nose_end_1 == True and nose_start_2 == True and nose_end_2 == False:
            if label == 0:
                nose_end_2 = True
        elif nose_start_1 == True and nose_end_1 == True and nose_start_2 == True and nose_end_2 == True and nose_start_3 == False:   
            if label == 1:
                nose_start_3 = True
        elif nose_start_1 == True and nose_end_1 == True and nose_start_2 == True and nose_end_2 == True and nose_start_3 == True and nose_end_3 == False:
            if label == 0:
                nose_end_3 = True
        elif nose_start_1 == True and nose_end_1 == True and nose_start_2 == True and nose_end_2 == True and nose_start_3 == True and nose_end_3 == True:
            cut_index = index
            break;
        index += 1
    return cut_index

In [5]:
cut_index_front = cut_anchor(data_raw)

In [6]:
data_raw_reverse = data_raw.iloc[::-1].reset_index(drop=True)

In [7]:
cut_index_back = cut_anchor(data_raw_reverse)

In [8]:
data_raw_reduced = data_raw[cut_index_front:-cut_index_back]

In [9]:
data_raw_reduced = data_raw_reduced.reset_index(drop=True)
data_raw_reduced

          #timestamp  left1  left2  right2  right2.1  label
0      1594215584364  -1054   -993     116       137      0
1      1594215584396   -944   -888     112       120      0
2      1594215584404   -835   -784     107       116      0
3      1594215584425   -740   -690     104       121      0
4      1594215584442   -655   -614     102       109      0
...              ...    ...    ...     ...       ...    ...
22573  1594216035872   -196   -194     -62       -63      0
22574  1594216035894   -189   -185     -61       -58      0
22575  1594216035909   -183   -180     -58       -54      0
22576  1594216035932   -180   -181     -54       -56      0
22577  1594216035955   -181   -182     -54       -56      0

[22578 rows x 6 columns]

In [10]:
def export_to_csv(dataset, path):
    dataset.to_csv(path, index = False, header=True, sep=';')
    return 'exported successfully'

In [11]:
export_to_csv(data_raw_reduced, 'preprocessed_cut_05.csv')

'exported successfully'

In [12]:
data_raw_reduced_bin = data_raw_reduced
for index in range (0, len(data_raw_reduced)):
    if data_raw_reduced_bin.iloc[index, -1] != 0:
        data_raw_reduced_bin.iloc[index, -1] = 1

In [13]:
data_raw_reduced_bin

          #timestamp  left1  left2  right2  right2.1  label
0      1594215584364  -1054   -993     116       137      0
1      1594215584396   -944   -888     112       120      0
2      1594215584404   -835   -784     107       116      0
3      1594215584425   -740   -690     104       121      0
4      1594215584442   -655   -614     102       109      0
...              ...    ...    ...     ...       ...    ...
22573  1594216035872   -196   -194     -62       -63      0
22574  1594216035894   -189   -185     -61       -58      0
22575  1594216035909   -183   -180     -58       -54      0
22576  1594216035932   -180   -181     -54       -56      0
22577  1594216035955   -181   -182     -54       -56      0

[22578 rows x 6 columns]

In [14]:
export_to_csv(data_raw_reduced_bin, 'preprocessed_cut_bin_05.csv')

'exported successfully'